<% include ../partials/header %>

<div class="ui container grid" id="main-grid">
    <div class="ui twelve wide column">
        <div id="context">
            <div class="ui grid">
                <div class="ui middle aligned two wide column">
                    <a href=""><i class="left angle icon black big circular"></i></a>
                </div>
                <div class=" twelve wide column">
                    <div class="ui three special yellow cards">
                        <% for (var i = 0; i < 3; ++i){ %>
                        <div class="card">
                          <div class="blurring dimmable image">
                            <div class="ui dimmer">
                              <div class="content">
                                <div class="center">
                                  <div class="ui inverted button">Add Friend</div>
                                </div>
                              </div>
                            </div>
                            <img src="/images/profilePicture.png">
                          </div>
                        </div>
                        <% } %>
                      </div>
                </div>
                <div class="ui middle aligned two wide column">
                    <a href=""><i class="right angle icon black big circular"></i></a>
                </div>
            </div>
            <div class="ui padded segment">
                <div class="ui padded grid margin-0">
                    <div class="row">
                        <div class="four wide column">
                            <img class="ui circular tiny image" src="images/profilePicture.png" alt="profilePicture">
                        </div>
                        <div class="twelve wide column">
                            <div class="ui form">
                                <div class="field">
                                    <textarea type="text" style="border: none;" rows="3"
                                        placeholder="What's on your mind ... ?"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="four column row">
                        <div class="column mood">
                            <button class="ui red button">
                                <i class="icon angry"></i>
                                Angry
                            </button>
                        </div>
                        <div class="column">
                            <button class="ui orange button">
                                <i class="icon angry"></i>
                                Tired
                            </button>
                        </div>
                        <div class="column mood">
                            <button class="ui yellow button">
                                <i class="icon meh"></i>
                                Alright
                            </button>
                        </div>
                        <div class="column mood">
                            <div class="column">
                                <button class="ui green button">
                                    <i class="icon smile beam"></i>
                                    Angry
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <% profileData.forEach(function(profile){%>
                <div class="ui segment">
                    <div class="ui feed">
                        <div class="event">
                            <div class="label">
                                <img src="<%=profile.picture%>">
                            </div>
                            <div class="content">
                                <div class="summary">
                                    <a><%=profile.name%></a> shares his/her favorite quote
                                    <div class="date">
                                        3 days ago
                                    </div>
                                </div>
                                <div class="extra text">
                                    "<%=profile.quote%>"
                                </div>
                                <div class="meta">
                                    <a class="like">
                                        <i class="like icon"></i> 5 Likes
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
    <div class="ui four wide column">
        <div class="ui rail">
            <div class="ui sticky">
                <!-- <div class="ui grid">
                    <div class="row">
                        <div class="ui center aligned sixteen wide column">
                            <i class="angle up circular big black icon"></i>
                        </div>
                    </div>
                    <div class="ui center aligned one column row">
                        <% for (var i = 0; i < 3; ++i){%>
                            <div class="ui horizontal card">
                                <div class="image">
                                    <img src="/images/profilePicture.png">
                                </div>
                                <div class="content">
                                    <div class="header">Pape Sow Traore</div>
                                    <div class="meta">
                                        <span class="category">Germantown, WI</span>
                                    </div>
                                    <div class="description">
                                        <div class="ui basic button">Follow</div>
                                    </div>
                                </div>
                            </div>
                            <% }%>
                    </div>
                    <div class="one column row">

                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>