<% include ../partials/header %> 

<div class="ui container grid" id="main-grid">
    <div class="ui four wide column">
        <div class="ui vertical menu">
            <a class="item">
                <h3 class="ui header">
                    <i class="home yellow icon"></i>
                    <div class="content">
                     Home
                    </div>
                  </h3>
            </a>
            <a class="item">
                <h3 class="ui header">
                    <i class="envelope yellow icon"></i>
                    <div class="content">
                     Messages
                    </div>
                  </h3>
            </a>
            <a class="item">
                <h3 class="ui header">
                    <i class="bell yellow icon"></i>
                    <div class="content">
                     Notifications
                    </div>
                  </h3>
            </a>
        </div>
    </div>
    <div class="ui eight wide column">
        <div class="ui segment padding-0">
            <div class="ui grid margin-0">
                <div class="row">
                    <div class="four wide column">
                        <img class="ui circular tiny image" src="images/profilePicture.png" alt="profilePicture">
                    </div>
                    <div class="twelve wide column">
                        <div class="ui form">
                            <div class="field">
                              <textarea type="text" style="border: none;" rows="3" placeholder="What's on your mind ... ?"></textarea>
                            </div>
                          </div>
                    </div>
                </div>

                <div class="four column row">
                    <div class="column">
                        <a class="ui grey grey header">
                            <i class="angry red icon"></i>
                            <div class="content">
                             Angry
                            </div>
                          </a>
                    </div>
                    <div class="column">
                        <a class="ui grey header">
                            <i class="tired orange icon"></i>
                            <div class="content">
                             Tired
                            </div>
                          </a>
                    </div>
                    <div class="column">
                        <a class="ui grey header">
                            <i class="meh yellow icon"></i>
                            <div class="content">
                             Angry
                            </div>
                          </a>
                    </div>
                    <div class="column">
                        <div class="column">
                            <a class="ui grey header">
                                <i class="smile beam green icon"></i>
                                <div class="content">
                                 Happy
                                </div>
                              </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui segment">

        </div>
    </div>
    <div class="ui four wide column">

    </div>
</div>

<% include ../partials/footer %> 