<% include ./smallBottomNavbar %>
<div class="ui centered borderless bottom fixed inverted menu grid padding-0" id="footer">
    <div class="five wide column item"><p></p></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.5/dist/semantic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="/javascripts/DALI_Data.js" type="module"></script>
<script src="/javascripts/default.js" type="module"></script>
</body>

</html>