<div class="ui borderless fixed inverted menu grid" id="navbar">
    <div class="item">
        <img src="/images/Logo2.png" alt="logo">
    </div>
    <div class="item title">
        DaliBook
    </div>
    <div class="five wide column item">
        <div class="ui search">
        <div class="ui icon input">
            <input data-content="You have to enter the entire person's name." class="prompt" type="text" placeholder="Search Dali Member...">
            <i class="search icon"></i>
        </div>
        <div class="results"></div>
    </div>
</div>
<div class="right menu">
    <a class="item" href="/profiles">
        <i class="home big icon"></i>
    </a>
    <a class="item">
        <i class="bell big icon"></i>
    </a>
    <div class="item">
        <div class="ui avatar image">
            <img src="/images/profilePicture.png">
        </div>
    </div>
    <div class="item">
        <div class="middle aligned content">
            <div class="ui inverted small header">Pape Sow Traore</div>
        </div>
    </div>
    <a href="/" class="item">
        <i class="sign out alternate big icon"></i>
    </a>
</div>

</div>