<div class='ui borderless fixed inverted big menu navbar'>
    <div class="item">
        <img src="images/Logo2.png" alt="logo">
    </div>
    <div class="item title">
        DaliBook
    </div>
    <div class="item">
        <div class="ui category search">
            <div class="ui icon input">
              <input class="prompt" type="text" placeholder="Search Dalibook">
              <i class="search icon"></i>
            </div>
            <div class="results"></div>
          </div>
    </div>
</div>