<div class="ui bottom fixed inverted three item labeled icon menu" id="smallBottomNavbar">
    <a class="item" href="/profiles">
        <i class="large home big icon"></i>
    </a>
    <a class="item">
        <i class="large envelope big icon"></i>
    </a>
    <a class="item">
        <i class="large bell big icon"></i>
    </a>
</div>