<div class="ui bottom fixed inverted five item labeled icon menu" id="smallBottomNavbar">
    <a class="item" href="/profiles">
        <i class="large home big icon"></i>
    </a>

    <a class="search item">
        <i class="large search icon"></i>
    </a>
    <a class="post item" id="edit">
        <i class="plus icon"></i>
    </a>
    <a class="item">
        <i class="large bell big icon"></i>
    </a>
    <a href="/" class="item">
        <i class="large sign out icon"></i>
    </a>

</div>

<div class="ui flowing popup transition hidden" id="newPostPopup">
    <h4>What's on your mind?</h4>
    <form action="" class="ui form" id="thoughtForm" method="POST" action="/profiles">
        <div class="ui fluid input">
            <input data-content="Your post will appear on the left panel." class="prompt" type="text" name="post"
                placeholder="..." style="background: #eff2f5;">
        </div>
    </form>
</div>

<div class="ui flowing popup transition hidden" id="searchPopup">
    <h4>Search Member</h4>
    <div class="ui search">
        <div class="ui icon input">
            <input data-content="You have to enter the entire person's name." class="prompt" type="text"
                placeholder="Search Dali Member...">
            <i class="search icon"></i>
        </div>
        <div class="results"></div>
    </div>
</div>