<div class="ui borderless fixed inverted menu" id="smallTopNavbar">
    <div class="item">
        <img src="/images/Logo2.png" alt="logo">
    </div>
    <div class="item title">
        DaliBook
    </div>
    <div class="right menu">
        <div class="item">
            <div class="ui avatar image">
                <img src="/images/profilePicture.png">
            </div>
        </div>
        <a  class="viewPost item">
            View Posts
        </a>
    </div>
</div>
