<!DOCTYPE html>
<html class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.5/dist/semantic.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<!-- Styling in this file is unique -->
<style>
  body {
    height: 100%;
  }

  .button {
    margin-top: 3em !important;
  }

  .column {
    max-width: 50wh;
  }

  .grid {
    height: 100%;
  }

  h1 {
    font-family: Noteworthy;
    font-style: normal;
    font-weight: bold;
    font-size: 4em;
    line-height: 103px;
  }
</style>

<body>
  <div class='ui fixed inverted huge menu'>
  </div>
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h1> DaliBook</h1>
      <img class="ui centered  small image" src="/images/Logo.png" alt="logo">
      <a href="/profiles">
        <div class="ui animated huge black b button" tabindex="0">
          <div class="visible content">Next</div>
          <div class="hidden content">
            <i class="right arrow icon"></i>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="ui inverted bottom fixed huge menu">
  </div>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.5/dist/semantic.min.js"></script>

  <script>
    $
    $('h1')
      .transition({
        animation: 'fade in',
        duration: 5800,
      });
  </script>

</body>

</html>