/* .item.active {
  background:#fcbc09 !important;
  color: white !important;
} */

.angle:hover {
  /* Chrome/Opera/Safari */
  background: black !important;
}

.black-border {
  border: 2px black solid !important;
}

body {
  background: #eff2f5;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main-grid {
  height: 100%;
}

.margin-0 {
  margin: 0 !important;
}

.padding-0 {
  padding: 0 !important;
}

#profileShow {
  max-width: 250px;
  max-height: 250px;
  margin-top: 5vh;
}
textarea {
  border: none;
  background: #eff2f5;
  overflow: auto;
}

.title {
  font-family: Noteworthy;
  font-style: normal;
  font-weight: bolder;
  font-size: 1.7em;
}

@media only screen and (max-width: 1445px) {
  #leftPanel,
  #rightPanel,
  #navbar {
    display: none;
  }
}

@media only screen and (min-width: 1445px) {
  #smallTopNavbar,
  #smallBottomNavbar {
    display: none;
  }
}
