body {
  background: #eff2f5;
}

.title {
  font-family: Noteworthy;
  font-style: normal;
  font-weight: bolder;
  font-size: 1.7em;
}

#navbar {
  height: 7vh !important;
}

.margin-0 {
  margin: 0 !important;
}

.padding-0 {
  padding: 0 !important;
}

textarea{
  border: none;
  background:  #eff2f5;
  overflow: auto; 
}

#main-grid{
  height: 100%;
  margin-top: 7vh !important;
}

.angle:hover { /* Chrome/Opera/Safari */
 background: black !important;
}


@media only screen and (max-width: 1125px) {
  #rightPanel, #navbar{
    display: none;
  }
}