a,
p,
h1,
h2,
h3,
h4 {
  font-family: Verdana, Geneva, sans-serif !important;
}

.angle:hover {
  /* Chrome/Opera/Safari */
  background: black !important;
}

.black-border {
  border: 2px black solid !important;
}

body {
  background: #eff2f5;
  font-family: Verdana, Geneva, sans-serif !important;
}

.image.quote {
  width: 130px;
  height: 130px;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main-grid-index {
  height: 100%;
  margin: 10vh 0 10vh 0 !important;
}

.margin-0 {
  margin: 0 !important;
}

.padding-0 {
  padding: 0 !important;
}

#profileShow {
  max-width: 15vw;
  max-height: 15vw;
  margin-top: 8vh;
}

#quoteSlideShow {
  padding: 4vh 0 0vh 0;
  margin: 0 0 -5vh 0 !important;
  background: #1b1c1d;
}

textarea {
  border: none;
  background: #eff2f5;
  overflow: auto;
}

.title {
  font-family: Verdana, Geneva, sans-serif !important;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 1.7em;
}

@media only screen and (max-width: 1445px) {
  #leftPanel,
  #rightPanel,
  #footer,
  #quoteSlideShow,
  #navbar {
    display: none;
  }

  .profileSlider > .ui.small.image > .ui.circular.image {
    width: 82px;
    height: 82px;
    border: 2px #fcbc09 solid;
  }
}

@media only screen and (min-width: 1445px) {
  #smallTopNavbar,
  #smallBottomNavbar {
    display: none;
  }

  .profileSlider > .ui.small.image > .ui.circular.image {
    width: 10vw;
    height: 150px;
    border: 2px #fcbc09 solid;
  }
}
